body {
  background: radial-gradient(
    879px at 10.4% 22.3%,
    rgb(255, 235, 238) 0%,
    rgb(198, 202, 250) 83.6%
  );
}

.container {
  max-width: 720px;
  margin: 60px auto;
}

.weather-app-wrapper {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.search-btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.weather {
  margin-top: 30px;
  padding-bottom: 30px;
}

h1 {
  /* margin: 20px 0 10px; */
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.temperature {
  color: #212121;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
}

.unit {
  color: #212121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.weather-forecast {
  margin-top: 30px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.forecast-day {
  text-align: center;
  margin: 0 10px;
}

.forecasted-weather-icon {
  width: 50px;
  height: 50px;
}

.bold {
  font-weight: bold;
}

footer {
  margin-top: 30px;
  font-size: 0.75em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #885df1;
}
